<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
</style>
</head>
<body>

  <ul>

    <li><a class="active" href="addBooks">AddBooks</a></li>
    <li><a href="viewBooks">ViewBooks</a></li>
  </ul>
<div style="padding-left:400px;padding-top:100px;">
<table>
<form method="post" action="addBooksDB">
<tr><td>Book ID</td><td><input type="text" name="t1"></td></tr>
<tr><td>Book Name</td><td><input type="text" name="t2"></td></tr>
<tr><td>Author Name</td><td><input type="text" name="t3"></td></tr>
<tr><td>Date Of Publishing</td><td><input type="date" name="t4"></td></tr>
<tr><td>Book cost</td><td><input type="text" name="t5"></td></tr>
<tr><td><input type="submit" value="addBook"></td><td><input type="reset" value="Clear"></td></tr>
</form>
</table>
<strong style="color: rgb(76, 19, 210);font-size: 30px;padding-left: 40px;">{{res}}</strong>
</div>
</body>
</html>


