<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
</style>
</head>
<body>

<ul>
  <li><a class="active" href="adminLogin">AdminLogin</a></li>
  <li><a href="userLogin">UserLogin</a></li>
  <li><a href="aboutus">About Us</a></li>
  <li><a href="contactus">Contact Us</a></li>
  
</ul>
<div style="padding-left:500px;padding-top:150px;">
<table border=1>
<caption>User Login </caption>
<form method="post" action="UserLoginDB">
<tr><td>Email</td><td><input type="text" name="email"></td></tr>
<tr><td>Password</td><td><input type="password" name="password"></td></tr>
<tr><td colspan=2 align=center><input type="submit" value="Login"></td></tr>
<tr><td colspan=2 align=center><a href="Register">New User</a></td></tr>
</form>
</table>
<strong style="color: red;">{{result}}</strong>
</div>
</body>
</html>


